.coinResultTable {
  width: 90vw;
  color: whitesmoke;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 25vw;
  height: 100vh;
  padding: 60px;
  margin-bottom: 5vh;
}

th,
td {
  padding: 20px;
  border: solid 5px rgb(221, 159, 170);
  font-size: larger;
  margin: 50px;
  width: 15%;
  height: 50%;
}
th {
  color: rgb(245, 245, 118);
  font-weight: bolder;
  font-size: x-large;
}

td {
  border: solid 5px rgb(119, 166, 169);
  background-color: rgba(37, 37, 37, 0.912);
}

.coinRank {
  color: rgb(193, 193, 102);
  font-weight: bolder;
}

.coinImg {
  height: 50px;
}

.coinName {
  font-weight: bolder;
}

@media (prefers-reduced-motion: no-preference) {
  #coinImgSpin {
    animation: coin-logo-spin infinite 20s linear;
  }
}

@keyframes coin-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
