.coinSearchSection {
  display: flex;
  margin: 0vh 1vh 4vh 1vh;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  width: 95vw;
  height: 10vh;
  justify-content: center;
}
.coinInput {
  margin-right: 2%;
  width: 2%;
  height: 5vh;
  border-radius: 25vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding-left: 20px;
  font-size: 25px;
  transition: 4s;
}
.coinSearchSection:hover > .coinInput {
  width: 70%;
  transition: 2s;
}

.coinInput:hover > ::placeholder {
  font-weight: bold;
  opacity: 0.5;
}

.coinButton {
  width: 9vw;
  height: 5vh;
  border-radius: 25vw;
  border: solid 5px white;
  color: rgb(81, 50, 215);
  font-size: 22px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(221, 159, 170);
}
